accelerate==1.9.0
bitsandbytes==0.35.4
decord==0.6.0
diffusers==0.11.0
einops==0.8.1
imageio==2.37.0
numpy==2.3.3
omegaconf==2.3.0
opencv_python==4.12.0.88
packaging==25.0
Pillow==11.3.0
scikit_learn==1.7.2
scipy==1.16.1
skimage==0.0
torch==2.7.1
torchmetrics==1.8.1
torchvision==0.22.1
tqdm==4.67.1
transformers==4.25.1
xformers==0.0.31.post1
